# Tmux
.config/tmux/plugins/*
!.config/tmux/plugins/.gitkeep

# Pro - Do not sync, sensitive data!
# .local/share/sh/pro_*

# Files for music plugins
.config/hypr/info.txt
.config/hypr/coverart.jpg
.config/hypr/coverart.png
