[submodule "dotfiles_pro"]
  path = zsh/.local/share/sh/pro
	url = ssh://forgejo@lxc-forgejo.intranet.blackwizard.fr/Linux/dotfiles_pro.git
  branch = main
[submodule "tpm"]
  path = tmux/.tmux/plugins/tpm
  url = https://github.com/tmux-plugins/tpm
  branch = master
