# Tmux
tmux/.config/tmux/plugins/*
!tmux/.config/tmux/plugins/.gitkeep

# RHEL or Alpine distribution
zsh/.local/share
zsh/.local/state

# Pro - Do not sync, sensitive data!
# .local/share/sh/pro_*

# Files for music plugins
hyprlock/.config/hypr/info.txt
hyprlock/.config/hypr/coverart.jpg
hyprlock/.config/hypr/coverart.png
eww/.config/eww/coverart.png
eww/.config/eww/info.txt
