* {
    border: none;
    border-radius: 0;
    font-family: MesloLGS Nerd Font;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: white;
}

#workspaces {
	background-color: #24283b;
	margin: 5px;
	margin-left: 10px;
	border-radius: 5px;
}

#workspaces button {
    padding: 5px 10px;
    color: #c0caf5;
}

#workspaces button.focused {
    color: #24283b;
    background-color: #7aa2f7;
    border-radius: 5px;
}

#workspaces button:hover {
	background-color: #7dcfff;
	color: #24283b;
	border-radius: 5px;
}

#clock,
#custom-date,
#pulseaudio,
#battery,
#network,
#cpu,
#memory,
#bluetooth,
#custom-vpn,
#tray,
#custom-openDrawer,
#custom-notification,
#keyboard-state {
	background-color: #24283b;
	padding: 5px 10px;
	margin: 5px 0px;
}

#clock {
    color: #b48ead;
    border-radius: 5px;
    margin-right: 5px;
}

#custom-date {
	color: #7dcfff;
}

#pulseaudio {
	color: #e0af68;
}

#battery {
    color: #9ece6a;
}

#battery.charging {
    color: #6effac;
}

#battery.warning:not(.charging) {
    background-color: #ffd58b;
    color: #24283b;
    border-radius: 5px 5px 5px 5px;
}

#battery.critical:not(.charging) {
    background-color: #f7768e;
    color: #24283b;
    border-radius: 5px 5px 5px 5px;
}

#network {
	color: #f7768e;
}

#cpu {
    color: #b48ead;
    margin-right: 0;
}

#memory {
    color: #b48ead;
    margin-right: 0;
    margin-left: 0;
}

#bluetooth {
  color: cyan;
}

#bluetooth.off, #bluetooth.disabled {
  color: red;
}

#custom-vpn.tbrejon {
  color: blue;
}

#custom-vpn.adm_tbrejon {
  color: red;
}

#custom-openDrawer {
	border-radius: 5px 0px 0px 5px;
}

#custom-notification {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 15px;
}

#tray {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
}

#custom-power {
	color: #24283b;
	background-color: #db4b4b;
	border-radius: 0px 5px 5px 0px;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 15px;
}
